$main-color: #e75280;
$main-color-hov: #e3356c;
$theme-coral-color: #DA5629;
$theme-coral-color-hov: #c44a21;
$theme-orange-color: #E47900;
$theme-orange-color-hov: #cc6d00;
$theme-sea-green-color: #53CAB5;
$theme-sea-green-color-hov: #3cc3aa;


/* spec text colors */

$main-text-color: #92153b;