@import 'vars/_colors';
@import '_fonts';

.flat-design-body {
    background-color: #ddf; 
    font-family: Signika, sans-serif;
}

.header {
  background-color: $main-color;
  font-weight: 300;
  min-height: 200px;
  margin-bottom: 40px;
  text-align: center;
  
    h1 {
        color: $main-text-color;
        padding: 30px 0 20px;
        text-align: center;
    }

    &__line {
        height: 0;
        border-top: 1px solid white;
    }
    
    &__slogan {
        color: white;
        text-transform: uppercase;
    }

    &__reference {
        color: #991a41;
        margin: 0 auto;
    }
}

.profile-tab {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    text-align: center;

    &__name, &__prof, &__follow {
        line-height: 1;
        width: 100%;
    }

    &__name, &__follow {
        text-transform: uppercase;
    }

    &__name {
        font-size: 1.4em;
    }

    &__prof, &__foll-count {
        color: $text-light-grey;
    }

    &__follow {
        background-color: $main-color;
        border-radius: 2px;
        width: 60%;
        padding: 12px 0;
        margin: 10px;

        &:hover, &:link, &:visited {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: $main-color-hov;
        }
    }

    &__underline {
        border-top: 1px solid #ccc;
        color: #ddd;
        margin: 5px 0 10px;
        width: 85%;
    }

    &__foll-count {
        width: 50%;
        margin-bottom: 10px;
    }
}

.foll-count {
    &__number {
        color: #333;
        font-weight: bold;
    }
}


.profile-picture {
    width: 100%;
    position: relative;
    margin-bottom: 65px;
    
    &__cover {
       background: url(../img/shutterstock.png) center;
       background-size: cover; 
       padding-top: 50%;
    }

     &__avatar {
        background: url(../img/evgeniyaporechenskaya.png) center;
        background-size: contain;
        border-radius: 50%;
        position: absolute;
        padding: 20%;
        top: 60%;
        left: 28%;
    }
}

.icons-large {
    margin: 0 10px;

    &__icon {
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin: 0 auto;
        width: 85%;
        padding-top: 85%;
    }

    &__icon--cook {
        background-color: $main-color;
        background-image: url(../img/icons/fork&spoon.png);
        background-size: 35%;
        
        &:hover {
            background-color: $main-color-hov;
        }
    }

    &__icon--bowknot {
        background-color: $theme-coral-color;
        background-image: url(../img/icons/bowknot.png);
        background-size: 45%;

        &:hover {
            background-color: $theme-coral-color-hov;
        }
    }

    &__icon--heart {
        background-color: $theme-orange-color;
        background-image: url(../img/icons/heart.png);

        &:hover {
            background-color: $theme-orange-color-hov;
        }
    }

    &__icon--deer {
        background-color: $theme-sea-green-color;
        background-image: url(../img/icons/deer.png);

        &:hover {
            background-color: $theme-sea-green-color-hov;
        }
    }

    
}

.row--bot-space-small {
    margin-bottom: 15px !important;
}

.search {
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin-bottom: 20px;
    width: 100%;

    &__input {
        border: none;
        max-width: 80%;
        min-width: 60%;
    }

    &__input:focus {
        outline-style: none;
    }

    &__input::placeholder {
        color: #baa;
    }

    &__submit {
        background: white;
        border: none;
        border-left: 1px solid #baa;
        color: #baa;
        cursor: pointer;
        padding: 0 0 0 1em;
    }

    &__submit:focus {
        outline: none;
    }

    &__submit--pink-ok {
        background-color: $main-color;
        padding: 0;
    }
}

.bookmarks {
    display: flex;
    flex-wrap: wrap-reverse;
    &__item {
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
    }
    
    &__item--active {
        background-color: white;
    }

    &__item--pink {
        background-color: $main-color;
    }

    &__item--coral {
        background-color: $theme-coral-color;
    }

    &__item--pink, 
    &__item--coral {
        color: white;
    }
}

.tabs-box__inner-text {
    background-color: white;
    padding: 15px;
}

.inner-text__text {
    background-color: white;
    color: $text-light-grey;
    display: none;
    font-size: 14px;
    opacity: 0;
}

.inner-text__text--active {
    display: block;
    opacity: 1;
}